.card {
  height: 280px;
  width: 280px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd;
  border-top: 3px solid #747a7e;
  font-size: 1.45rem;
  color: rgb(49, 53, 55);
  transform-style: preserve-3d;
  transition: 350ms;
  cursor: pointer;
}

.card.isFlipped {
  transform: rotateY(var(--rotate-y, 0));
  --rotate-y: 180deg;
  border-top: 1px solid #ddd;
  justify-content: end;
}

.card.isNotFlipped {
  transform: scale(0.9);
}

.card:first-of-type .flip-icon-text:before {
  content: "Click to Flip";
  font-style: italic;
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.flip-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  opacity: 0.3;
}

.card .front,
.card .back {
  position: absolute;
  overflow: auto;
  backface-visibility: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
}

.card .back {
  transform: rotateY(180deg);
}

.text-content {
  margin: auto;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  text-align: left;
  line-height: 2rem;
}

.card:hover .flip-icon {
  opacity: 0.8;
}

.card .front:hover,
.card .back:hover {
  opacity: 0.4;
}

.card:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.no-display {
  display: none;
}
